.Rproj.user
MathsModelsWorkshop.Rproj

*/Python/.ipynb_checkpoints/*

Exercises_complete/Python/.ipynb_checkpoints
Exercises_complete/Python/.ipynb_checkpoints/*

Exercises_pseudocode/Python/.ipynb_checkpoints
Exercises_pseudocode/Python/.ipynb_checkpoints/*

Exercises_complete/R/.DS_Store